html,body{
  padding: 0;
  margin: 0;
  height: 100%;
}
body{
  display:flex;
  flex-direction: column;
  background: linear-gradient(#0b8793,#360033)
}

footer span{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 1rem;
  margin: 0.5rem;
  background-color: #fff7;
}
label{
  margin: 0.5rem;
}
label span{
  margin:0;
  height:100%;
  width: 100%;
}
input{
  display:none
}
h1{
  height: 10%;
  width: 100%;
  text-align: center;
}
section{
  height: 75%;
  width: 100%;
}
footer{
  height:15%;
  width: 100%;
  background-color: #0007;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: grid;
  grid-template-columns: auto auto;
}


.display{
  display:flex;
}
section{
  display:grid;
  grid-template-columns: auto;
  width: 100%;
  overflow: scroll;
}
section span{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #0007;
  color: white;
  height: 2.68rem;
  width: 75%;
  border-radius: 1rem;
  padding: 0 1rem 0 1rem
}
p{
  background-color: #f006;
  color: #f00c;
  font-weight: 900;
  font-size: 1.5rem;
  border:0.2rem solid #f00c;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
}
@media(orientation:landscape){
  footer{
    grid-template-columns: auto auto auto auto
  }
  section{
    grid-template-columns: auto auto;
  }
}