@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  height: 35%;
  margin: 0;
  display: flex;
  align-items: center;
}

#container {
  height: 50%;
  width: 100%;
  background-color: deepskyblue;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  display: grid;
  justify-content: space-evenly;
  align-items: center;
}

button {
  height: 3rem;
  width: 6rem;
  border: none;
  background: dodgerblue;
  color: white;
  border-radius: 1rem;
  font-size: 1.2rem;
}

footer{
  width: 100%;
  height:15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: deepskyblue;
}
a{
  height: 3rem;
  width: 3rem;
  text-decoration: none;
  background-color: white;
  color: dodgerblue;
  font-size: 1.5rem;
  border-radius: 1rem;
  overflow:auto;
  transition: all 0.5s;
}
a:hover{
  background-color: dodgerblue;
  color: white;
}
a::-webkit-scrollbar {
  display: none;
}
